<% include ./partials/header %>



<div id="content">
 <div class='container fluid'>
    <div class="row text-center" style = "display:flex; flex-wrap:wrap;">
<% bills.forEach(function(bill){ %>
            <div class="card meal-card" style="width: 15rem;">
                    
                    <div class="card-block">
                        
                        <h6 class="card-title"> Order Number :  <%= bill.bn %> </h6>
                        <h6 class="card-title"> Table Number :  <%= bill.tablenumber %> </h6>
                        <h6 class="card-title"> Waiter Name : <%= bill.waitername %> </h6>
                        
                        <!--<h6 class="add" data-price="<%= bill._id  %>"><%= bill._id %></h6>-->
                        <p>
                            <a href="/bills/<%= bill._id %>" class="btn btn-primary">More Info</a>
                        </p>
                

                      
                    </div>
            </div>
        <% }); %>
    </div>
   </div>
   </div>

<% include ./partials/footer %>