<% include ./partials/header %>



<body>
    <h1>Meals</h1>
    <div id="content">
    <a href="/meals/new">Add a new Meal</a>
    
  
     <div class='container fluid'>
    <div class="row text-center" style = "display:flex; flex-wrap:wrap;">
            <% meals.forEach(function(meal){ %>
            <div class="card meal-card" style="width: 15rem;">
                    
                        <h4 class="add" data-price="<%= meal._id  %>"><%= meal.mealname %></h4>
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <!--<h6 class="card-title"   data-name="<%= meal.name  %>"> <%= meal.name %> </h6>-->
                        
                        <!--<p class="card-text"><%= meal.category  %></p>-->
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <a href="#" data-pric="<%= meal.price  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></a>
                        
                      
                    </div>
            </div>
        <% }); %>
    </div>
   </div>
   
    <style>
        .meal-card{
            padding:1.5%;
            
        }
    </style>
    

<script> 

var Bill = []


                            
    $('.add').on('click', function() {
        
        console.log($(this).data('price'))
        var oid = $(this).data('price');
        alert(oid + "     has been added to the bill")
        // alert( $('div[data-name="name"]') + "worth" + $(this).data('price') + "added to bill");
        
            Bill.push(oid)
            console.log(Bill)
            
    });
    
 

</script>

<p></p>
  
<a href="/">Home</a>
<% include ./partials/footer %>