<html>
<header>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</header>
<body>
 <!--========================================================================================-->


 

 <!--========================================================================================-->




 
 
 <!--=====================================================================================-->
 <!--BOOTSTRAP COLUMNS-->
 <!--=====================================================================================-->
 
 <div class="container">
     <div class="row">
   
   
     
     <div id = "kotdiv" class="col-2">
         <h3 class="text-center">KOT</h3>
         <p class="text-center">Bill Number : <%= bill.ordernumber %></p>
         <hr>
               <table class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Qty.</th>
      
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(meal){ %> 
    <tr>
      
      <td><%= meal.mealname %></td>
      <th scope="row">1</th>
      
      
    </tr>
    <% }); %>  
  </tbody>
</table>
    </div>
    
    
    
    <div class="col-6">
      <!--========================================================================================-->
<!--SHOW MEALS-->
<!--========================================================================================-->
<form action="/bills/<%= bill._id%>/meals" method="POST">
             
<ul class="list-group">
  <li class="list-group-item active">Order Number : <b><%= bill.ordernumber %> </b></li>
  <li class="list-group-item">Table Number : <b><%= bill.tablenumber %></b></li>
  <li class="list-group-item">Waiter Name : <b><%= bill.waitername %></b></li>
</ul><br><h4 style="text-align: center; " >Add a New Meal to Order Number <%= bill.ordernumber %></h4><br>
            <div class="form-group">
                <input class="form-control" type="text" name="meal[mealname]" placeholder="Name of The Meal">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="meal[mealprice]" placeholder="Price">
            </div>
            
            <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" >Submit</button>
            </div> 
        </form>
 <div class="text-center" style = "display:flex; flex-wrap:wrap;">
            <% meals.forEach(function(meal){ %>
            <div class="card meal-card" style="width: 15rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p class="card-text"><%= meal.category  %></p>-->
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <a href="#" data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></a>
                        
                      
                    </div>
            </div>
        <% }); %>
    </div>
    </div>
    
    
    <div id ="billdiv" class="col-4">
 <!--========================================================================================-->
 <!--SHOW ITEMS IN BILL-->
 <!--========================================================================================-->
         <h1 class = "text-center">CAFE - O2</h1>
         <p class = "text-center" >Sector - 31, Gurgaon</p>
         <hr>
         <p class="text-center">Order No. : <%= bill.ordernumber %>    </p>
    
         
         
         <table class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Qty.</th>
      
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(meal){ %> 
    <tr>
      
      <td><%= meal.mealname %></td>
      <th scope="row">1</th>
      
      <td><%= meal.mealprice %></td>
    </tr>
    <% }); %>  
  </tbody>
</table>
        <p class = "text-right">Total : 475 </p>            
    <hr>
    
    
  </div>

 
 
 


<!--========================================================================================-->
    
    
    
    

    

    
    
    
    
    </body>

<style>
    body{
        padding-top: 5%;
    }
    .card{
        padding:2%;
    }
</style>
    

</html>