<% include ./partials/header %>



 <!--========================================================================================-->




 
 
 <!--=====================================================================================-->
 <!--BOOTSTRAP COLUMNS-->
 <!--=====================================================================================-->
 <div id="content">
 <div class="container">
     <div class="row">
   
   
     <div class="col-2">
     <div id = "kotdiv">
         <h3 class="text-center">KOT</h3>
         <p class="text-center">Bill Number : <%= bill.bn %></p>
         <p class="text-center">Table Number : <b><%= bill.tablenumber %></b></p>
         <hr>
               <table id="kottable" class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Qty.</th>
      
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(meal){ %> 
    <tr>
      
      <td><%= meal.mealname %></td>
      <th scope="row">1</th>
      
      
    </tr>
    <% }); %>  
  </tbody>
</table>
    </div><br>
    <div class="form-group">
    <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="printkot" type="button" class="btn btn-success">Print KOT</button></div>
   <div class="form-group"> <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="delkot" type="button" class="btn btn-danger">Delete KOT</button></div>
    
    </div>
    
   
<!--========================================================================================-->
<!--SHOW MEALS-->
<!--========================================================================================-->
 <div class="col-6">
<form action="/bills/<%= bill._id%>/meals" method="POST">
             
<ul class="list-group">
  <li class="list-group-item active">Order Number : <b><%= bill.bn %> </b></li>
  <li class="list-group-item">Table Number : <b><%= bill.tablenumber %></b></li>
  <li class="list-group-item">Waiter Name : <b><%= bill.waitername %></b></li>
</ul><br><h4 style="text-align: center; " >Add a New Meal to Order Number <%= bill.bn %></h4><br>
            <div class="form-group">
                <input class="form-control" type="text" name="meal[mealname]" placeholder="Name of The Meal">
            </div>
            
            <div class="form-group">
                <input class="form-control" type="text" name="meal[mealprice]" placeholder="Price">
            </div>
            
            <div class="form-group">
            <button class="btn btn-lg btn-success btn-block" >Submit</button>
            </div> 
        </form>
        
        
        
 <div class="text-center" style = "display:flex; flex-wrap:wrap;">
            <% meals.forEach(function(meal){ %>
            <div  data-id-value = "<%= meal  %>"  data-mealname-value = "<%= meal.mealname  %>"  data-mealprice-value = "<%= meal.mealprice  %>" class="card meal-card" style="width: 15rem;">
                    
                        <!--<h4 class="add" data-price="<%= meal._id  %>"><%= meal._id %></h4>-->
                      <!--<img class="card-img-top" src="<%=meal.image%>" alt="Card image cap" >-->
                    <div class="card-block">
                        
                        <h6 class="card-title"   data-name="<%= meal.mealname  %>"> <%= meal.mealname %> </h6>
                        
                        <!--<p class="card-text"><%= meal.category  %></p>-->
                        <!--<p><%=  meal.comment %></p>-->
                        
                
                        <a href="#" data-pric="<%= meal.mealprice  %>"  class="btn btn-primary">Rs. <%= meal.mealprice  %></a>
                        
                      
                    </div>
            </div>
        <% }); %>
    </div>
    </div>
    
    
 <!--========================================================================================-->
 <!--SHOW ITEMS IN BILL-->
 <!--========================================================================================-->
         <div class="col-4">
            
    <div id ="billdiv" >
        <hr>
         <p class = "text-center billp" ><b>CAFE - O2</b></p>
         <p class = "text-center billp" >PLOT 147, NEAR RAHEJA ATLANTIS</p>
        
         <p class = "text-center billp" >SECTOR-31, GURGAON</p>
         <p class = "text-center billp" >HARYANA 122001</p>
          <p class = "text-center billp" >PH. 9891471187, 8447343632</p>
          <hr id="billtablemargin">
          
    <li class="il">Waiter Name : <%= bill.waitername %><span class="right"> Order No. : <%= bill.bn %></span></li>
   
   <p class="il" id="dates" style="margin-top:0.8em; line-height:2px;" ><%= bill.created %></p>
    <!--<li class="il" id="asd"><span class="right">Date: <%= bill.created %> </span></li>-->

         
          <!--<p class = "text-left billp" style=" display: inline;">Waiter Name : <%= bill.waitername %>    </p>-->
          <!--<p class = "text-right billp" style="text-indent: 50px; display: inline;" >   Order No. : <%= bill.ordernumber %>    </p>-->
        
         <table id="billtable" class="table table-sm table-bordered ">
  <thead>
    <tr>
      
      <th scope="col">Item Name</th>
      <th scope="col">Qty.</th>
      
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
     <% bill.meals.forEach(function(meal){ %> 
    <tr>
      
      <td name="foodqty"><%= meal.mealname %></td>
      <th name="qty" scope="row">1</th>
      
      <td class="money"><%= meal.mealprice %></td>
    </tr>
    <% }); %>  
    
  </tbody>
</table>

    <li class="il"> Sub Total: <span class="right">₹ <p style="display:inline" id="total_forces"></p></span></li>
    <li class="il"> C GST @ 2.5% : <span class="right"> ₹ <p style="display:inline" id="cgst"></p></span></li>
    <li class="il"> S GST @ 2.5% : <span class="right"> ₹ <p style="display:inline" id="sgst"></p></span></li>
   <hr> <li class="ilb"><b>Gross Amount: </b> <span class="right">₹ <p style="display:inline" id="total_gross"></p></span></li>

        <!--<p style="display:inline ">Total:</p><span>   </span><p style="display:inline" id="total_forces"></p>            -->
    
    
       <br><hr><p class="text-center">SCAN THIS QR CODE ⇊ LIKE US ON FACEBOOK</p><img id="fb" src="https://lh3.googleusercontent.com/wGpOYLQ-QVqsgV5cznD_QwUQt9nfe7_qFKZDDVaQoBPzKTLxyNt0d0hH0sCUkyCnQK7pNgZik52wlnl4bFLu4boiFJ015JrnOBmh9Ds2UzTE9TZ3l9E9ATfxiSe-uZ2QJR83PnzukSuppe58SWAFAFEcu7qEyzrIZbxiKeCgR8oNqAgnAOICAyE7EXw6SRRCyHoRs2trR0B9lwg09IkYtfSSKlEkiAuFVyeM938_dXgJ8lb1X9QA1zzecyi5VrxxaCI_rtQZFfwMnXZuCNKsfkh-JgEQbVaxTrFgyBSqbZq87MN7wODA8_6ifpKNlhblrN4PltG_wHDORLbCRWTO-hUPlfmMoiY0ct_MTLveGHdaBU2gaqzKP9viBbwQaBfI22WlBwhxPst4ZOAd9uEjMmufk4NHyxTiD4DVEk8wR2xAtbQA8xy4Bfl7ckTJdIrv6tOu65hCZHNT79cmfcFXjEfprU3a0Jv6z0FWRwR3XOtrdDdTOuqC7Rr6yEAVNAnPWnOiyrC4usQXVDhr51uvrKJomLzbCOp5ewNA995zKyl0-lztJY23WiLQo_RJlvnTNe0nnYPteB_oacc_b4nWRMdPo8aYzO8Hp9RD6Hn0FWao2XlITR1qPLVY95iNo9DlnVO3qBYSf7KU0y1kOCiGamxnjaDVypz8jg=s328-no" class="img-thumbnail">
      <!--https://photos.google.com/share/AF1QipOfX0Q45p09vNr4zcpciNxzthegIYQMigvf8Kmi3mJ3GlK_qHuQ7JlGi1ROU5kh0A/photo/AF1QipO-7vEN9q_2AnEciij8Z5Uy_XJUjq9iQh68_7sC?key=WUJmLUJSXzZhbWhaU2MzUUtXQklKbElMdTJlUXV3-->
 <p class = "text-center" >Come again another day</p><hr>
  </div>
<br>
 <div class="form-group">
  <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%"  id="printbill" type="button" class="btn btn-success">Print Bill</button></div>
   <div class="form-group">
  <!--<button onClick="download()">Download</button>-->
  <button style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%" onClick="download()" type="button" class="btn btn-info">Download PDF</button></div>

  
  </div>
 </div>
 




<!--========================================================================================-->
    

    

    

    
    
    


<script type="text/javascript" src="../js/main.js"></script>
<% include ./partials/footer %>
